.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 30px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.chat-messages {
    height: calc(100vh - 200px);
    overflow: auto;
    padding-bottom: 50px;
}

#gameChatOper {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
.dynamic-label {
    display: inline-block;
    white-space: nowrap;
    max-width: 200px;
    text-align: center;
}*/
/*.dynamic-textarea {
    max-width: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    margin-top: 0;
}*/

.chat-row {
    display: flex;
    flex-direction: column;
}

/*.username-label {
    margin-bottom: 0;
}*/
